#faq-text,
#faq-radio{
    display:none;
}

.faq-builder{
    display:flex;
    flex-direction:column;
    gap:16px;
}
.faq-option-row{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.faq-option-label{
    font-weight: bold;
    min-width: 20px;
    background: red;
}
#add-question{
    width: 150px;
    padding: 5px 10px;
}

/* ============== */

.qst-radio {
    display: none;
}
