*{
    margin: 0;
    padding: 0;
}
.font-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Mian Style */
main{
    margin: 50px 0;
}
.header{
    background-color: rgba(255, 255, 255, 0.082);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(230, 230, 230, 0.418);
}
/* Nav Styles */
#nav{
    margin: 30px 20px;
}
.logo{
    display: flex;
    justify-content: start;
}
.logo a img{
    width: 50%;
}
.menus{
    display: flex;
    justify-content: end;
}
#nav > #main-menu {
    display: flex;
    align-items: center;
}
#nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
#main-menu li {
    list-style: none;
    position: relative;
}

#main-menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

#main-menu li a:hover {
    color: navy;
}

#main-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    /* min-width: 180px; */
    padding: 5px 0;
    text-align: left;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    z-index: 999;
}

#main-menu li:hover > ul {
    display: block;
}

#main-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-transform: none;
}

#main-menu ul li a:hover {
    background: #f2f2f2;
    color: navy;
}

#main-menu ul ul {
    top: 0;
    left: 100%;
    padding: 10px 0;
    display: none;
    white-space: nowrap;
}

#main-menu ul li:hover > ul {
    display: block;
}



/* Footer style */
.footer-area{
    padding: 50px 0px 20px 0px;
    background-color: rgb(0, 0, 0);
}
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-container h3{
    color: #fff;
}
.footer_logo{
    width: 80%;
}
.quick_links{
    margin-left: 80px;
}
.footer-menu{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-menu li{
    list-style: none;    
}
.footer-menu li a{
    text-decoration: none;
    color: #fff;
}
.social-links{
    display:  flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.social-links a{
    text-decoration: none;
}
.social-links a i{
    display: flex;
    justify-content: center;
    align-items: center;
   color: black;
   padding: 10px 20px;
   background-color: white;
   border-radius: 50%;
}




/* ===================================== 
Blogs Archive Design
=======================================*/
.post-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: ; */
    gap: 30px;
}
.post-cards .blog{
    background-color: white;
    box-shadow: 0px 0px 20px rgba(231, 231, 231, 0.836);
    border-radius: 10px;
    padding: 20px;
}

.post-cards .blog a img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgba(228, 228, 228, 0.466);
    margin-bottom: 20px;
}
.post-cards .blog a{
    text-decoration: none;
}
.post-cards .blog .blog-title{
    color: #000;
    font-size: 24px;
}
.post-cards .blog p{
    color: #505050;
    font-size: 16px;
}











/* ================================
Responsive Design
==================================*/
