*{
    margin: 0;
    padding: 0;
}
.font-primary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Nav Styles */
#nav{
    margin: 30px 20px;
}
.logo{
    display: flex;
    justify-content: start;
}
.logo a img{
    width: 50%;
}
.menus{
    display: flex;
    justify-content: end;
}
#nav > #main-menu {
    display: flex;
    align-items: center;
}
#nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
#main-menu li {
    list-style: none;
    position: relative;
}

#main-menu li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

#main-menu li a:hover {
    color: navy;
}

#main-menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    /* min-width: 180px; */
    padding: 5px 0;
    text-align: left;
    margin-top: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    z-index: 999;
}

#main-menu li:hover > ul {
    display: block;
}

#main-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-transform: none;
}

#main-menu ul li a:hover {
    background: #f2f2f2;
    color: navy;
}

#main-menu ul ul {
    top: 0;
    left: 100%;
    padding: 10px 0;
    display: none;
    white-space: nowrap;
}

#main-menu ul li:hover > ul {
    display: block;
}



/* Footer style */
.footer-area{
    padding: 50px 0px 20px 0px;
    background-color: rgb(0, 0, 0);
}
.footer-container{
    width: 100%;
}
.footer-container h3{
    color: #fff;
}
.footer_logo{
    width: 80%;
}
.quick_links{
    margin-left: 80px;
}
.footer-menu{
    margin: 0;
    padding: 0;
}
.footer-menu li{
    list-style: none;    
}
.footer-menu li a{
    text-decoration: none;
    color: #fff;
}
.social-links{
    display:  flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.social-links a{
    text-decoration: none;
}
.social-links a i{
    display: flex;
    justify-content: center;
    align-items: center;
   color: black;
   padding: 10px 20px;
   background-color: white;
   border-radius: 50%;
}
/* ================================
Responsive Design
==================================*/
